$color-primary: #7f8c8d; // Primary color
$color-secondary: #95a5a6; // Secondary color
$color-bg: #f2f2f2; // Background color
$color-link: #333; // Link color
$color-dropdown-bg: #f9f9f9; // Dropdown background color

.registration-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: $color-bg;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
  h2 {
    color: $color-primary;
    margin-bottom: 20px;
  }

  form {
    label {
      color: $color-primary;
      margin-bottom: 10px;
      display: block;
    }

    input {
        width: 95%;
        padding: 10px;
        border: 1px solid $color-secondary;
        border-radius: 4px;
        margin-bottom: 20px;    

      &:focus {
        outline: none;
        border-color: $color-primary;
      }
    }

    button[type="submit"] {
      background-color: #2eba49;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
.error-message {
    color: #e74c3c;
    margin-top: 10px;
  }
